body{
	background-image: url("images/bg3.jpg");
	text-align: left;
	background-size: cover;
	background-color: #000000;
	border-style: groove;
	border-color: #ffffff;
	font-size: 30px;
	color: #b22222;
	background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  font-family: 'comic sans ms';
  cursor: url('images/cursor.gif'),auto;
}

h1,h2,h3{
	font-family: 'Lucida Calligraphy';
}
h2{
	font-size: 60px;
	font-style: italic;
	text-align: center;
}
a:hover{
	background-color: #e9967a;
	border-radius: 10px;
	border-size:20px;

}
a{
	text-decoration: none;
	color: #ffffff;
	width: 30px;
	height: 20px;

}
h1{
	width: 1200px;
  height: 100px;
  background-color: #ffffff;
  -webkit-transition: width 2s;
  text-align: center;

}
h1:hover{
	width: 1300px;
}
div.page-wrapper {
  margin: 30px;
  background-image: url(images/bgimage.jpg);
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
-webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

div #zen-summary.summary{
	text-align: center;

}
h3{
	width: 1200px;
  height: 100px;
  background-color: #ffffff;
  -webkit-transition: width 2s;
  text-align: center;
  text-align: center;

}
h3:hover{
	width: 1300px;
}
